.App {
  background: pink;
}

.cold {
  color: blue;
}

.brisk {
  color: turquoise;
}

.crisp {
  color: green;
}

.warm {
  color: orange;
}

.hot {
  color: red;
}

.image {
  background: green;
  background-size: cover;
  background-position: center center;
}
